@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.box {
  width: 100vw;
  max-width: 100%;
}

.container {
  margin: 5px auto;
  width: 80%;
  padding: 0 15px;
}

.overlay {
  width: 0;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(80, 80, 80, 0.5);
  height: 100vh;
  transition-property: width;
  transition-duration: 2s;
}

.overlay nav.side-menu {
  width: 0;
  display: none;
  background-color: white;
  float: right;
  height: 100%;
  text-align: end;
  transition-property: width;
  transition-duration: 2s;
}

.overlay nav.side-menu > a {
  font-size: 62px;
  position: relative;
  right: 7px;
}

nav.side-menu ul {
  text-align: start;
  line-height: 2.8em;
  padding: 25px 45px;
  margin-top: 25px;
}

nav.side-menu ul li {
  display: block;
}

nav.side-menu ul li a {
  color: #00001a;
  font-size: 20px;
}

nav.side-menu ul li a:hover {
  font-weight: bolder;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

header .logo h1 {
  font-weight: 900;
  font-size: 34px;
}

header nav.h-nav-menu ul {
  display: flex;
  height: 70%;
  align-items: center;
}

header nav.h-nav-menu ul li {
  align-self: flex-end;
}

header nav.h-nav-menu ul li a {
  margin-left: 45px;
  color: hsl(236, 13%, 42%);
  font-size: 14px;
}

header .barmenu {
  display: none;
}

/* main */
main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 27px;
}

/* box 1 */
.box1 {
  width: 65%;
}

.box1 .image {
  margin-bottom: 10px;
}

.box1 .image,
.box1 .image img {
  width: 100%;
}

.box1 .img2 {
  display: none;
}

.box1 .content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.box1 .content .left {
  width: 45%;
}

.box1 .content .left h1 {
  font-size: 49px;
  color: #00001a;
}

.box1 .content .right {
  width: 45%;
}

.box1 .content .right p {
  color: hsl(236, 13%, 42%);
  line-height: 1.4em;
  margin-bottom: 10px;
}

.box1 .content .right button {
  padding: 15px 35px;
  background-color: #f15d51;
  color: white;
  border: none;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 3px;
  font-weight: bolder;
}

/* box - 2 */
.box2 {
  width: 30%;
  background-color: #00001a;
  color: white;
  padding: 28px;
}

.box2 h1 {
  margin-bottom: 15px;
  color: #e5a649;
}

.box2 .para {
  padding: 38px 0;
  border-bottom: 1px solid white;
}

.box2 .para:nth-of-type(1) {
  padding-top: 0;
}

.box2 .para:nth-of-type(3) {
  border: none;
}

.box2 .para h4 {
  margin-bottom: 8px;
}

.box2 .para p {
  line-height: 1.5em;
  color: hsl(233, 8%, 79%);
  font-weight: lighter;
  font-size: 14px;
}

/* footer */
footer {
  display: flex;
  justify-content: space-evenly;
}

footer .pic {
  display: flex;
  width: 38%;
  margin-right: 35px;
}

footer .pic img {
  width: 23%;
  margin-right: 12px;
}

footer .pic .text {
  padding: 5px;
}

footer .pic .text h2,
h4 {
  margin-bottom: 7px;
}

footer .pic .text h2,
p {
  color: hsl(233, 8%, 79%);
}

footer .pic:nth-of-type(3) {
  margin-right: 0;
}

@media (max-width: 768px) {
  /* header */
  header nav.h-nav-menu {
    display: none;
  }
  header .barmenu {
    display: block;
    float: right;
  }
  header .barmenu svg {
    font-size: 24px;
  }
  header .barmenu svg:hover {
    opacity: 0.7;
  }
  main,
  .box1 .content,
  footer {
    flex-direction: column;
  }
  /* box-1 */
  .box1 {
    width: 100%;
    margin-bottom: 35px;
  }

  .box1 .image img {
    display: none;
  }

  .box1 .image .img2 {
    display: block;
  }

  .box1 .content .left,
  .box1 .content .right,
  .box2,
  footer .pic {
    width: 100%;
  }

  /* footer */
  footer .pic {
    margin-right: 0;
    margin-bottom: 20px;
  }

  footer .pic img {
    width: 35%;
    object-fit: cover;
  }
}

@media (min-width: 768px) and (max-width: 1280px) {
  /* box-2 */
  .box2 {
    padding: 10px;
  }

  .box2 .para {
    padding: 15px 0;
  }

  /* footer */
  footer .pic img {
    object-fit: cover;
    width: 38%;
  }
}
